<div class="p-2">
  <h2 class="fw-bold">Add Your Notes</h2>
  <form [formGroup]="noteForm" (ngSubmit)="noteSubmit(noteForm)">
    <div class="d-flex flex-column my-2">
    <mat-form-field>
      <mat-label>title</mat-label>
      <input formControlName="title" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>content</mat-label>
      <input formControlName="content" matInput >
    </mat-form-field>
  </div>
  <div>

    @if (!data.title&&!data.content) {<button mat-flat-button color="warn" >Add</button>}
    @else {
      <button mat-flat-button color="primary" >Update</button>
    }

  </div></form>


</div>
